<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jAnki</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Fonts & Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <img src="images/jAnki-Logo.png" alt="jAnki">
        <div class="buttonHolder">
            <a href="/login" class="button">Login</a>
            <a href="/signup" class="button">Signup</a>
        </div>
    </nav>

    <main>
        <h2>Are you tired of the perfect algorithm Anki provides? Welcome to <strong> jAnki</strong>, where you can create your cards and get tested randomly.</h2>
    </main>
</body>
</html>