<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jAnki</title>
</head>
<body>
    <nav><img src="../public/images/jAnki-Logo.png" alt="jAnki"></nav>
    <h1>jAnki</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>