* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Harmattan', sans-serif;
}

/* Header */
nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #003946;
}

nav>img {
    width: 35%;
    height: auto;
    margin: 2%;
    max-width: 275px;
    min-width: 175px;
}

.buttonHolder {
    width: 35%;
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.button {
    padding: 2% 9%;
    margin: 2%;
    background-color: #003946;
    border: 2px solid white;
    color: white;
}

.button:hover {
    border: 2px solid #003946;
    font-weight: 700;
}

/* Main */
main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Form */
form {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2%;
}

.formGroup>input {
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 2%;
    padding: 2%;
    margin: 2%;
    border: none;
}

.formGroup>label {
    text-align: left;
    margin-left: 2%;
}

form .button {
    color: white;
    width: 50%;
    margin: auto;
    border-radius: 3%;
}